* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.primary-color {
    color: #F00;
}

.container {
    width: 83%;
    max-width: 1320px;
    margin: 0 auto;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 600px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.banner-text p {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-text h1 {
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    width: 632px;
}

/* 65% OFF... */
.off {
    margin: 120px 0px;
    text-align: center;
}

.off-value h1 {
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 30px 0px;
}

.off-text {
    margin: 30px 0px;
}

.off-text p {
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.off-text h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.off-img img {
    width: 800px;
    height: 500px;
}

/* Midnight-section... */
.midnight-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 600px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: red;
}

.midnight-text {
    width: 600px;
}

.midnight-text h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.midnight-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.midnight-text button {
    border: none;
    background: none;
    cursor: pointer;
    color: #FFF;
    margin: 23px;
    font-weight: 700;
    font-size: 20px;
}

.midnight-banner-img {
    width: 320px;
    height: 400px;
}