* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.container {
    width: 82%;
    max-width: 1320px;
    margin: 0 auto;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../resources/Banner\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    border-radius: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-text p {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-text h1 {
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    width: 632px;
}