@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

p {
    font-size: 18px;
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
}

button {
    border-radius: 8px;
    background-color: rgb(129, 5, 113);
    color: antiquewhite;
    padding: 15px 28px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background-color: rgb(157, 70, 238);
    color: rgb(4, 38, 48);
    transition: all 1s;
}

header {
    background-color: antiquewhite;
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.banner .banner-text * {
    margin-bottom: 32px;
}

.banner .banner-text h1 {
    color: rgb(22, 22, 51);
    font-size: 50px;
    font-weight: 800;
    line-height: normal;
    font-family: Lato;
    font-style: normal;
}

.banner .banner-img img {
    vertical-align: middle;
    border-radius: 8px;
}

#feature {
    padding: 100px 0px;
}

.section-heading {
    text-align: center;
    max-width: 500px;
    margin: 20px auto;
}

.section-heading h1 {
    margin-bottom: 20px;
}

.main-laptop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

/* .laptop{
    width: 100%;
    border: 5px solid rgb(170, 179, 255);
    border-radius: 8px;
} */
.main-laptop p {
    text-align: center;
}

.laptop-items {
    border-radius: 300px 300px 0px 0px;
    background-color: antiquewhite;
}

.review {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 50px 0px;
}

.review-items {
    text-align: center;
}

#customer-review {
    background-color: rgb(247 162 246 / 96%);
}

.hot-deal-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0px;
}

.hot-deal-main .hot-deal-text {
    width: 75%;
    max-width: 550px;
    text-align: center;
}

.hot-deal-main .hot-deal-text .important {
    color: coral;
}

.hot-deal-main .hot-deal-text h2,
p {
    margin-bottom: 10px;
}

.hot-deal-img {
    width: 100%;
}

.hot-deal-img img {
    border-radius: 8px;
}

#newsletter {
    margin: 100px 0px;
}

.newsletter-main {
    background-image: url('../laptop-asset/laptop-2.jpg');
    padding: 122px 0px;
}

#newsletter form {
    display: flex;
    gap: 10px;
    max-width: 800px;
    margin: 20px auto;
}
#newsletter form input{
    width: 600px;
    flex-grow: 1;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
    outline: none;
}
#footer{
    margin-top: 100px;
    background-color: black;
    padding: 100px 0px;
    color: white;
}